.home{
	width: 85%;
	height: 1024px;
	margin-left: 10px;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
}
.home .content{
	width: 70%;
	margin-top: 10px;
	background-color: #fff;
}
.home .content .titlelist-item{
	width: 90%;
	margin:0 auto;
	border:1px solid #eee;
	padding: 0 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.home .content .titlelist-item:hover{
	cursor: pointer;
	background-color:rgba(10,89,200,0.2);
	box-shadow: 10px 10px 3px #eee,
				1px 1px 3px #eee inset;
	transition: all 0.2s linear;
}
.home .content .titlelist-item .item-title{
	margin-top: 30px;
	border-top: 1px solid #eee;
	position: relative;
}
.home .content .titlelist-item .item-title div{
	position: absolute;
	top: -14px;
	left: 50px;
	background-color: #fff;
}
.home .content .titlelist-item .item-title div span{
	font-size: 18px;
	margin:0 10px;
	color: #394D69;
	font-weight: bold;
}
.home .content .titlelist-item .item-title .date{
	color: #7f7f7f;
	font-size: 16px;
}
.home .content .titlelist-item .summary{
	background-color: #F7F7F7;
	line-height: 40px;
	height: 40px;
	font-size: 16px;
	margin-top: 40px;
}
.home .content .titlelist-item .tags{
	margin:10px 0;
}
.home .content .titlelist-item .tags span{
	border-radius: 15px;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	background-color: skyblue;
	margin-right: 8px;
}
.home .title{
	width: 30%;
	border-top:1px solid #eee;
	margin-top: 20px;
	position: relative;
	margin-left: 20px;
	background-color: #fff;
	margin-right: 10px;
}
.home .title span{
	width: 90px;
	background-color: #fff;
	z-index: 99;
	position: absolute;
	left: 42%;
	top: -14px;
	color: #810083;
	font-size: 18px;
	text-align: center;
}
.home .title ul{
	padding: 20px;
	margin-top: 40px;
}
.home .title ul li{
	font-size: 16px;
	margin-bottom: 10px;
	list-style:none;
	color: #7f7f7f;
}